#navbar-example2 {
    position: fixed;
    width: 100%;
}
p {
    font-family: 'prata', serif;
    font-size: 32px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
}
h1 {
    font-family: 'prata', serif;
    font-size: 42px;
    padding-left: 80px;
}
body {
    background-color: #BEAE9C;
}
.researchCards {
    justify-content: center;
}
.carousel-inner {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.navbar a {
    color: #BEAE9C;
}
h5 {
    color: black;
}
#collapseWidthExample {
    padding-left: 60px;
    padding-right: 60px;
}
.accordian {
    padding: 80px;
}
.accordian-item {
    justify-content: center;
    align-items: center;
}